<!DOCTYPE html>
    <html lang="en">
      <head>
        <link rel="stylesheet" type="text/css" href="css/homepage.css" />

        <meta charset="utf-8">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <div class="container">
        <a class="navbar-brand" href="/homepage">
          Home
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/event">
                <strong>Events</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
          </ul>
          <form class="form-inline">
            <div class="md-form my-0">
            <button type="button" class="btn btn-dark"><a href= "/login">Log Out</a></button>
            </div>
          </form>
        </div>
      </div>
    </nav>
  <div class="view" style="background-image: url('images/cuboulder.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-gradient align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-6 white-text text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
          <center>  <h1 class="h1-responsive mt-sm-5"><h1 style="color:white;">Previous Events </h1> </center>
          <!-- <h6 class="mb-4"> -->
              <center>
                <div class="card border-light mb-3" style="max-width: 20rem;">
                  <div class="card-header">Physics Sample Event </div>
                  <div class="card-body text-dark">
                     <h5 class="card-title">DUAN 105</h5>
                     <h6> Date: 10/2/19</h6>
                    <p class="card-text">This event covered the knowledge of your anus and its gases.</p>
                  </div>
                </div>
              </center>

            <!-- </h6> -->
            <center>
              <div class="card border-light mb-3" style="max-width: 20rem;">
                <div class="card-header">English Sample Event</div>
                <div class="card-body text-dark">
                   <h5 class="card-title">KITC 235</h5>
                   <h6> Date: 9/2/19</h6>
                  <p class="card-text">Learn how to write and communicate with Boomers.</p>
                </div>
              </div>
            </center>
          </div>

          <div class="col-md-6.offset-md-2 white-text text-md-right">
            </br>
            </br>

            <center>  <h1 class="h1-responsive white-text font-weight-bold mt-sm-5">
              <h1 style="color:white;">Upcoming Events </h1> </center>
              <center>
                <div class="card border-light mb-3" style="max-width: 20rem;">
                  <div class="card-header">Math Sample Event</div>
                  <div class="card-body text-dark">
                     <h5 class="card-title">HELMS 105</h5>
                     <h6> Date: 2/2/20</h6>
                    <p class="card-text">Learn the Golden ratio and never be single again.</p>
                  </div>
                </div>
              </center>

              <center>
                <div class="card border-light mb-3" style="max-width: 20rem;">
                  <div class="card-header">Sports Talk</div>
                  <div class="card-body text-dark">
                     <h5 class="card-title">DUAN 135</h5>
                     <h6> Date: 1/2/20</h6>
                    <p class="card-text">Learn the determination it takes to make it Big.</p>
                  </div>
                </div>
              </center>

          </div>
          <!--Grid column-->
          <!--Grid column-->
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>

    </div>
  </body>
  <footer style="padding-bottom: 8px;">
  </footer>


</html>
